<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMPPdemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>075220831E237E6100AFAA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0752209C1E237E6200AFAA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075220A71E237E6200AFAA7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
